/* // при помощи замыканий */
/* Дан массив цветов. Даны абзацы. По первому нажатию на абзац он должен покраситься в первый цвет из массива, по второму нажатию - во второй и так далее. Все абзацы работают независимо. */
button{
	font-size: 50px;
}
button:active{
border: 10px solid rgb(255, 255, 255);
background-color: blueviolet;
} 
