header {
	background-color: #25B8E7;
	margin:  0 auto;
	height: 15.2vh;
	display: flex;
	justify-content: space-between;
	
	
}




.headerRight{
	display: flex;
	justify-content: space-between;
	width: 20%;
	align-items: center;
	margin-right: 40px;
	color: white;
}
.headerLeft{
	width: 25%;
display: flex;
justify-content: right;
align-items: center;
}
a{
	text-decoration: none;
	color: white;
}