.wrapp {
	background-color: #8ccd00;
}

.container {
	color: white;
	margin: 0 auto;
	width: 80%;
	background-color: #8ccd00;
}
.imgS{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.box2 {
	display: flex;
	
}

.greenLineRight {
	width: 50%;
}

.greenLineleft {


	width: 50%;
}